:root {
    --fuenteHeadings: 'Poppins', sans-serif;
    --fuenteParrafos: 'Roboto', sans-serif;
    --colorPrimario: #212C65;
    --colorSegundario: #01A1DD;
    --colorTexto: #000000;
    --colorAccent: #01A1DD;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

/**globales**/

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: var(--fuenteHeadings);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}


/**************************************/


/*LOGO*/

h1 a {
    font-size: 40px;
    padding: 10px;
    color: #212C65;
    text-decoration: none;
    margin-left: 30px;
    position: absolute;
}

span {
    color: #fff;
}


/*NAVEGACION*/

header {
    width: 100%;
    position: fixed;
    background: #01A1DD;
    z-index: 300;
}

header nav {
    width: 100%;
}

.btn-menu {
    display: none;
}

header nav ul {
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float: right;
}

header nav ul li a {
    color: #fff;
    font-size: 19px;
    padding: 5px;
    display: block;
    text-decoration: none;
    margin-right: 30px;
}

header nav ul li a :last-of-type {
    margin: 0;
}

header nav ul li span {
    margin-right: 10px;
}

header nav ul li a:hover {
    color: #212C65;
    transition: 0.5s;
}

@media(min-width:800px) {
    .navegacion {
        max-width: 120rem;
        margin: 0 auto;
    }
    .conten-logo {
        padding: 5px;
        margin: 0;
    }
}

.wave {
    position: absolute;
    width: 100%;
    margin-top: 400px;
}


/* CONTENIDO */

.banner {
    width: 100%;
}

.conten-banner img {
    box-sizing: inherit;
    position: -ms-page;
    width: 100%;
    margin-top: 70px;
}

.contenedor {
    position: static;
    top: 600px;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

.tg {
    top: 2050px;
    margin: auto;
    width: 110rem;
    border-collapse: collapse;
    border-color: #9ABAD9;
    border-spacing: 0;
}

.tg td {
    background-color: #EBF5FF;
    border-color: #9ABAD9;
    border-style: solid;
    border-width: 1px;
    color: #444;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 8px 20px;
    word-break: normal;
}

.tg th {
    background-color: #409cff;
    border-color: #9ABAD9;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 8px 20px;
    word-break: normal;
}

.tg .tg-3fb6 {
    border-color: #01a1dd;
    font-size: 24px;
    text-align: center;
    vertical-align: top
}

.tg .tg-lglc {
    background-color: #212c65;
    border-color: #212c65;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle
}

.tg .tg-dl5s {
    background-color: #212c65;
    border-color: #212c65;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    vertical-align: top
}


/**PRODUCTOS**/

.relleno {
    height: 100px;
    width: 100%;
}

.imagen {
    width: 40%;
    margin: auto 10px;
    box-sizing: border-box;
    border-radius: 12%;
    padding: 50px;
}

.product {
    text-align: left;
    padding-left: 50px;
    margin-bottom: 20px;
}

.description {
    width: 43%;
    text-align: justify;
    box-sizing: border-box;
    border-radius: 12%;
    padding: 50px;
    padding-top: 110px;
}

.boxes {
    border: 1px solid #01a1dd;
    border-radius: 30px;
    box-shadow: #000000;
    width: 80%;
    margin: 30px auto;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}

.infox{
    border: 1px solid #01a1dd; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #01a1dd; /*color botón*/
    border-radius: 50px; /*bordes redondos*/
    width: 30%;
    margin-left: 65%;
    margin-top: 15%;
    text-align: center;
    text-decoration-color: blanchedalmond;
    }

@media screen and (max-width: 800px) {
    .imagen {
        width: auto;
        margin: 0px;
        text-align: center;
    }
    .description {
        width: auto;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 0px;
        margin-top: 10px;
    }
    .rest {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .boxes {
        display: block;
    }
}

/*CONTACTO*/

.bg {
    background-color: var(--gris);
    width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.titulo__contacto {
    text-align: center;
    margin-top: 100px;
    padding-top: 3rem;
}

.formulario {
    background-color: var(--colorAccent);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
}

.formulario fieldset {
    border: none;
    box-shadow: 0px 10px 10px -6px black;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--colorPrimario);
}


/*label*/

.boton {
    background-color: var(--colorPrimario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.enviar .boton {
    width: 100%;
    color: #fff;
}

.campo {
    margin-bottom: 1rem;
}

.campo__label {
    color: var(--colorTexto);
    font-weight: bold;
    display: block;
}

.campo__field {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
}

.campo__tabla {
    border: none;
}


/*ubicacion*/

.ubicacion__titulo {
    text-align: center;
    margin: 3rem 0 1rem 0;
}

.ubicacion__mapa {
    width: 100%;
    height: 40rem;
    border-radius: .5rem;
}

.ubicacion__contenedor {
    border: solid #96a7aa;
    border-width: .2rem;
    border-radius: 1rem;
}

.ubicacion__direccion {
    margin: .5rem 0;
    font-weight: bold;
}

@media (min-width:480px) {
    .ubicacion {
        max-width: 50rem;
        margin: 0 auto;
    }
}

@media (min-width:768px) {
    .ubicacion {
        max-width: 70rem;
        margin: 0 auto;
    }
}


/***FOOTER*****/

.footer {
    margin-top: 4rem;
    height: 5rem;
    background-color: var(--colorPrimario);
    display: flex;
    align-items: center;
}

.footer__text {
    color: #fff;
    text-align: center; 
    font-size: 1.5rem;
}

@media (min-width:480px) {
    .footer {
        width: 100%;
    }
    .footer__text {
        text-align: left;
        margin-left: 12rem;
    }
}

@media screen and (max-width:800px) {
    /*TABLES*/
    h1 a {
        font-size: 24px;
        padding: 0;
        color: #212C65;
        text-decoration: none;
        margin: auto 50px;
        position: absolute;
    }
    span {
        color: #fff;
    }
    header {
        position: absolute;
    }
    header nav {
        z-index: 300;
        position: absolute;
        width: 90%;
        height: 100vh;
        top: 82px;
        margin: auto;
        background: #01A1DD;
        
    }
    header nav ul li {
        background: #01A1DD;
        z-index: 100;
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    header nav ul {
        padding-inline-start: 0;
    }
    .btn-menu {
        display: block;
    }
    .btn-menu {
        z-index: 200;
        display: block;
        position: relative;
        padding: 20px;
        color: #fff;
        bottom: 25px;
        float: right;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .btn-menu span {
        float: right;
        font-size: 40px;
    }
    .conten-banner {
        width: 100%;
        top: 30px;
        position: relative;
    }
    .wave {
        display: none;
    }
    .contenedor {
        position: static;
        top: 600px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .tg {
        top: 2050px;
        margin: auto;
        width: 100%;
        border-collapse: collapse;
        border-color: #9ABAD9;
        border-spacing: 0;
    }
    .tg td {
        background-color: #EBF5FF;
        border-color: #9ABAD9;
        border-style: solid;
        border-width: 1px;
        color: #444;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 8px 20px;
        word-break: normal;
    }
    .tg th {
        background-color: #409cff;
        border-color: #9ABAD9;
        border-style: solid;
        border-width: 1px;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 8px 20px;
        word-break: normal;
    }
    .tg .tg-3fb6 {
        border-color: #01a1dd;
        font-size: 24px;
        text-align: center;
        vertical-align: top
    }
    .tg .tg-lglc {
        background-color: #212c65;
        border-color: #212c65;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle
    }
    .tg .tg-dl5s {
        background-color: #212c65;
        border-color: #212c65;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        vertical-align: top
    }
}

@media screen and (max-width:320px) {
    /*IPHONE 5/SE*/
    .tg {
        top: 2050px;
        margin: auto;
        width: 320px;
        border-collapse: collapse;
        border-color: #9ABAD9;
        border-spacing: 0;
    }
}

@media screen and (max-width:360px) {
    /*GALAXY S5*/
    .tg {
        top: 2050px;
        margin: auto;
        width: 320px;
        border-collapse: collapse;
        border-color: #9ABAD9;
        border-spacing: 0;
    }
}

@media screen and (max-width:375px) {
    /*MOVIL*/
    .tg {
        top: 2050px;
        margin: auto;
        width: 375px;
        border-collapse: collapse;
        border-color: #9ABAD9;
        border-spacing: 0;
    }
}

@media screen and (max-width:400px) {
    /*MOVIL*/
    .tg {
        top: 2050px;
        margin: auto;
        width: 375px;
        border-collapse: collapse;
        border-color: #9ABAD9;
        border-spacing: 0;
    }
}

.snt{
    width: 100%;
    height: fit-content;
}
.org{
    padding-left: 30%;
    padding-top: 100px;
}

@media screen and (max-width: 800px){
    .snt{
        width: auto;
        height: 900px;    
    }
    .org{
        width: 90%;
        padding-left: 170px;
        padding-top: 100px;
        margin-top: 50px;
    }
    .footer {
        width: 100%;
    }
    .footer__text {
        text-align: left;
        margin-left: 12rem;
    }
    
}